{
    database: {
        host: 'you mysql host', 
        password: 'password', 
        port: 'port',
        database: 'database name',
        max: 4,
        min: 2,
        idleTimeoutMillis: 10000,
        protocol: 'mysql',
        socketPath: '',
        query: {
            pool: true,
            debug: false
        }
    },
    /** 
        models path directors and use index.js like this for init model
        var loadModel = function loadModel(connection){
            require('./Tags').getModels(connection);
            require('./User').getModels(connection);
        };
        module.exports.loadModel = loadModel;
    */
    'modelsPath': 'you models path',
    options: {
        'instance.cache': false
    }    

}